body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}

.Calculadora{
    background-color: black;
    border-color: aliceblue;
    border: 10px;
    width: 160px;
}

button{
    color: black;
    background-color: white;
}

.reiniciar{
    color: red;
    background-color: white;
    height: 40px;
}

