.ventaMayor{
    background-color: rgb(42, 226, 42);
    text-decoration: solid;
    text-shadow: 0cqb;
}
.ventaMenor{
    background-color: lightcoral;
    text-decoration: solid;
    text-shadow: 0cqb;
}